body,head {
    margin:0;
    padding:0;
    font-family: Arial;
}

header{
    background-color: #6B8E23;
    position:relative;
    width: 1200px;
    margin: 40px;
    text-align: center;
    height:80px;
    font-size: 30px;
}

h1 {
    color: #ffffff;
}

#speciality {
    background-color: #FAEBD7;
    width: 600px;
    padding:0;
    height: 300px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    right: -640px;
    top: -322px;
}

#speciality h2 {
    background-color: #D2691E;
    text-align: center;
    border-bottom: solid 2px black;
}

#speciality span {
    font-weight: bold;
    font-size: 13px;
}

#speciality span#small {
    position : absolute;
    right: 54px;
    color: green;
}

#speciality span#large{
    float:right;
    position: relative;
    right: 4px;
    color:darkgreen;
}


#speciality p {
    position: relative;
    margin-top: -15px;
    top: -21px;

}



#pizzas  {
    background-color: #FAEBD7;
    width: 500px;
    margin-left:40px;
    padding:0;
    height: 300px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#pizzas h2 {
    background-color: #D2691E;
    text-align: center;
    border-bottom: solid 2px black;
}

#pizzas span {
    font-weight: bold;
    font-size: 13px;
}

#pizzas span#small {
    position : absolute;
    right: 54px;
    color: green;
}

#pizzas span#large{
    float:right;
    color:darkgreen;
    position: relative;
    right: 4px;

}


#pizzas p {
    position: relative;
    margin-top: -15px;
    top: -21px;

}

#dinners p {
    position: relative;
    margin-top: -15px;
    top: -21px;
}

#dinners span#default {
    color: darkgreen;
    position: absolute;
    right: 4px;
    text-align: center;
    float:right;
}
#dinners span {
    font-weight: bold;
    font-size: 13px;
}

#dinners h2 {
    background-color: #D2691E;
    text-align: center;
    border-bottom: solid 2px black;
}

#dinners {
    background-color: #FAEBD7;
    width: 500px;
    margin-left:40px;
    margin-top: -320px;
    padding:0;
    height: 300px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#description {
    font-family: "Courier New";
    font-size: 9px;
    font-weight: normal;
    position:relative;
    top: 0px;
    right: -2px;
}


#sides {
    background-color: #FAEBD7;
    width: 600px;
    padding:0;
    height: 300px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    right: -640px;
    top: -322px;
}

#sides h2 {
    background-color: #D2691E;
    text-align: center;
    border-bottom: solid 2px black;
}

#sides span {
    font-weight: bold;
    font-size: 13px;
}

#sides span#small {
    position : absolute;
    right: 54px;
    color: green;
}

#sides span#large{
    float:right;
    position: relative;
    right: 4px;
    color:darkgreen;
}


#sides p {
    position: relative;
    margin-top: -15px;
    top: -21px;

}

#sides span#default {
    color: darkgreen;
    position: absolute;
    right: 4px;
    text-align: center;
    float:right;
}











